**/*.svg
/dist
.dockerignore
node_modules
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
CNAME
package-lock.json
/.vscode
